In [7]:
import numpy as np
import pandas as pd
import seaborn as sn

In [8]:
df=pd.read_csv("result_final.csv")

In [9]:
df.head()

,Unnamed: 0.1,Unnamed: 0,link,text,title,date,keywords,summary,title_summary
0,0,0,http://techcrunch.com/2020/09/07/vodafone-idea...,"Vodafone Idea, one of the largest telecom oper...",Indian telecom giant Vodafone Idea rebrands as...,2020-09-07 00:00:00,"['rebrands', 'idea', 'vi', 'giant', 'brand', '...","Vodafone Idea, one of the largest telecom oper...",Indian telecom giant Vodafone Idea rebrands as...
1,1,1,http://techcrunch.com/2020/09/16/facebook-addr...,"At the beginning of the previous decade, Faceb...",Facebook addresses political controversy in In...,2020-09-16 00:00:00,"['opportunities', 'whatsapp', 'controversy', '...",Politicians in the country today heavily rely ...,Facebook addresses political controversy in In...
2,2,2,http://techcrunch.com/2020/09/14/youtube-launc...,"As TikTok’s fate in the U.S. remains murky, Yo...","YouTube launches its TikTok rival, YouTube Sho...",2020-09-14 00:00:00,"['rival', 'video', 'feature', 'access', 'youtu...","As TikTok’s fate in the U.S. remains murky, Yo...","YouTube launches its TikTok rival, YouTube Sho..."
3,3,3,http://techcrunch.com/2020/09/09/groww-an-inve...,Even as more than 150 million people are using...,"Groww, an investment app for millennials in In...",2020-09-09 00:00:00,"['world', 'yc', 'continuity', 'stocks', 'groww...","YC Continuity, the growth-stage investment fun...","Groww, an investment app for millennials in In..."
4,4,4,http://techcrunch.com/2020/09/15/lanzatech-is-...,As part of the continuing global rollout of La...,LanzaTech is developing a small-scale waste bi...,2020-09-15 00:00:00,"['production', 'distributed', 'developing', 's...",As part of the continuing global rollout of La...,LanzaTech is developing a small-scale waste bi...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   2190 non-null   int64
 1   Unnamed: 0     2190 non-null   int64
 2   link           2190 non-null   object
 3   text           2184 non-null   object
 4   title          2187 non-null   object
 5   date           1691 non-null   object
 6   keywords       2187 non-null   object
 7   summary        2184 non-null   object
 8   title_summary  2184 non-null   object
dtypes: int64(2), object(7)
memory usage: 154.1+ KB

In [11]:
nlp=['title','text','summary','keywords']

In [39]:
data=df[['title','text','summary','keywords','link','date']]

In [13]:
data.isnull().sum()

title       3
text        6
summary     6
keywords    3
link        0
dtype: int64

In [14]:
data.shape

(2190, 5)

In [15]:
data.title.dropna()

0       Indian telecom giant Vodafone Idea rebrands as...
1       Facebook addresses political controversy in In...
2       YouTube launches its TikTok rival, YouTube Sho...
3       Groww, an investment app for millennials in In...
4       LanzaTech is developing a small-scale waste bi...
                              ...
2185    Brazil's Guedes finds influence waning as Bols...
2186      Bank of England gears up for next stimulus push
2187    Syria says U.S. sanctions behind acute fuel cr...
2188    Business & Financial News, U.S & International...
2189    METALS-LME copper falls most in seven sessions...
Name: title, Length: 2187, dtype: object

In [16]:
data.text.dropna()

0       Vodafone Idea, one of the largest telecom oper...
1       At the beginning of the previous decade, Faceb...
2       As TikTok’s fate in the U.S. remains murky, Yo...
3       Even as more than 150 million people are using...
4       As part of the continuing global rollout of La...
                              ...
2185    BRASILIA (Reuters) - Paulo Guedes has faced hi...
2186    LONDON (Reuters) - The Bank of England is expe...
2187    AMMAN (Reuters) - Syria is experiencing worsen...
2188    Curiosity high for TV's anything-can-happen vi...
2189    MELBOURNE, Sept 17 (Reuters) - London copper f...
Name: text, Length: 2184, dtype: object

In [17]:
data.head()

,title,text,summary,keywords,link
0,Indian telecom giant Vodafone Idea rebrands as...,"Vodafone Idea, one of the largest telecom oper...","Vodafone Idea, one of the largest telecom oper...","['rebrands', 'idea', 'vi', 'giant', 'brand', '...",http://techcrunch.com/2020/09/07/vodafone-idea...
1,Facebook addresses political controversy in In...,"At the beginning of the previous decade, Faceb...",Politicians in the country today heavily rely ...,"['opportunities', 'whatsapp', 'controversy', '...",http://techcrunch.com/2020/09/16/facebook-addr...
2,"YouTube launches its TikTok rival, YouTube Sho...","As TikTok’s fate in the U.S. remains murky, Yo...","As TikTok’s fate in the U.S. remains murky, Yo...","['rival', 'video', 'feature', 'access', 'youtu...",http://techcrunch.com/2020/09/14/youtube-launc...
3,"Groww, an investment app for millennials in In...",Even as more than 150 million people are using...,"YC Continuity, the growth-stage investment fun...","['world', 'yc', 'continuity', 'stocks', 'groww...",http://techcrunch.com/2020/09/09/groww-an-inve...
4,LanzaTech is developing a small-scale waste bi...,As part of the continuing global rollout of La...,As part of the continuing global rollout of La...,"['production', 'distributed', 'developing', 's...",http://techcrunch.com/2020/09/15/lanzatech-is-...

In [65]:
data.date.dtypes

dtype('O')

In [43]:
data.drop_duplicates(inplace=True)

C:\Users\joyee\AppData\Local\Temp\ipykernel_20700\2282015914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(inplace=True)

In [44]:
data.shape[0]

2138

In [45]:
data.columns

Index(['title', 'text', 'summary', 'keywords', 'link', 'date'], dtype='object')

In [46]:
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import RegexpTokenizer
import re
import string
import random

In [23]:
for i in nlp:
    if(data[i].dtypes=='object'):
        data[i]=data[i].str.replace("[^a-zA-z0-9 ]","",regex=True)
        data[i]=data[i].str.lower()
        data[i]=data[i].str.replace("\s+"," ",regex=True)

C:\Users\joyee\AppData\Local\Temp\ipykernel_20700\3167545166.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i]=data[i].str.replace("[^a-zA-z0-9 ]","",regex=True)
C:\Users\joyee\AppData\Local\Temp\ipykernel_20700\3167545166.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i]=data[i].str.lower()
C:\Users\joyee\AppData\Local\Temp\ipykernel_20700\3167545166.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i]=data[i].str.replace("\s+"," ",regex=True)

In [47]:
data.isnull().sum()

title         3
text          6
summary       6
keywords      3
link          0
date        487
dtype: int64

In [48]:
data.dropna(inplace=True)

C:\Users\joyee\AppData\Local\Temp\ipykernel_20700\1368182302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)

In [49]:
data.shape

(1649, 6)

In [50]:
data.isnull().sum()

title       0
text        0
summary     0
keywords    0
link        0
date        0
dtype: int64

In [51]:
data.duplicated().sum()

0

In [53]:
tf = TfidfVectorizer(analyzer='word',stop_words='english',max_df=0.8,min_df=0.0,use_idf=True,ngram_range=(1,3))
tfidf_matrix = tf.fit_transform(data['text'])

In [54]:
pd.DataFrame(tfidf_matrix.toarray(), columns=tf.get_feature_names_out())

,00,00 00,00 00 25,00 00 hkt,00 01,00 01 53,00 02,00 02 1300,00 02 sep,00 03,...,åsberg partner nextgrid,łódź,łódź wrocław,łódź wrocław gdansk,𝗺𝗼𝗻𝘁𝗵,𝗺𝗼𝗻𝘁𝗵 pandemic,𝗺𝗼𝗻𝘁𝗵 pandemic sustain,𝗽𝗲𝗿,𝗽𝗲𝗿 𝗺𝗼𝗻𝘁𝗵,𝗽𝗲𝗿 𝗺𝗼𝗻𝘁𝗵 pandemic
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:

cosim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [56]:
cossim.shape

(1649, 1649)

In [57]:
data.reset_index(inplace=True)

In [71]:
def rec(idx,no_of_news_article):
    
    simscore = list(enumerate(cossim[idx]))
    simscore = sorted(simscore, key=lambda x: x[1], reverse=True)
   
    simscore = simscore[1:no_of_news_article+1]
    
    print("Article Read -- " + data['title'].iloc[idx] +" link --"+ data['link'].iloc[idx])
    print(" ---------------------------------------------------------- ")
    news_indices = [i[0] for i in simscore]
    for i in range(len(news_indices)):
        print("Recomendation "+ str(i+1)+" --- " +str(news_indices[i])+"(IDX)  "+str(data['date'].iloc[news_indices[i]])+" : "+
              data['title'].iloc[news_indices[i]] +" || Link --"+ data['link'].iloc[news_indices[i]] +" score -- "+ str(simscore[i][1]))
        print()

In [72]:
idx=8  
no_of_news_article=10
rec(idx,no_of_news_article)

Article Read -- Indian decacorn Byju’s CEO talks about future acquisitions, coronavirus and international expansion – TechCrunch link --http://techcrunch.com/2020/09/15/indian-decacorn-byjus-ceo-talks-about-future-acquisitions-coronavirus-and-international-expansion/
 ----------------------------------------------------------
Recomendation 1 --- 930(IDX)  2020-09-15 00:00:00 : Indian decacorn Byju’s CEO talks about future acquisitions, coronavirus and international expansion – TechCrunch || Link --http://techcrunch.com/2020/09/15/indian-decacorn-byjus-ceo-talks-about-future-acquisitions-coronavirus-and-international-expansion/ score -- 0.9999999999999954

Recomendation 2 --- 9(IDX)  2020-09-07 00:00:00 : Silver Lake leads $500 million investment round in Indian online learning giant Byju’s – TechCrunch || Link --http://techcrunch.com/2020/09/07/silver-lake-leads-500-million-round-in-indias-byjus/ score -- 0.2095801058876128

Recomendation 3 --- 836(IDX)  2020-09-07 00:00:00 : Silver Lake leads $500 million investment round in Indian online learning giant Byju’s – TechCrunch || Link --http://techcrunch.com/2020/09/07/silver-lake-leads-500-million-round-in-indias-byjus/ score -- 0.2095801058876128

Recomendation 4 --- 656(IDX)  2020-08-19 00:00:00 : COVID-19, visas, Trump: International students turning away from US colleges for lots of reasons || Link --https://www.usatoday.com/story/news/education/2020/08/19/covid-college-fall-semester-2020-international-student-visa-donald-trump/5585675002/ score -- 0.07774520439884613

Recomendation 5 --- 178(IDX)  2020-08-31 00:00:00 : Chan Zuckerberg Initiative backs Indian education startup Eruditus in $113 million fundraise – TechCrunch || Link --http://techcrunch.com/2020/08/31/chan-zuckerberg-initiative-backs-indian-education-startup-eruditus-in-113-million-fundraise/ score -- 0.06696359186330687

Recomendation 6 --- 765(IDX)  2020-08-31 00:00:00 : Chan Zuckerberg Initiative backs Indian education startup Eruditus in $113 million fundraise – TechCrunch || Link --http://techcrunch.com/2020/08/31/chan-zuckerberg-initiative-backs-indian-education-startup-eruditus-in-113-million-fundraise/ score -- 0.06696359186330687

Recomendation 7 --- 5(IDX)  2020-09-15 00:00:00 : Facebook announces $4.3 million grant for small businesses in India, introduces support for gift cards – TechCrunch || Link --http://techcrunch.com/2020/09/15/facebook-announces-4-3-million-grant-for-small-businesses-in-india-introduces-support-for-gift-cards/ score -- 0.0655526308927806

Recomendation 8 --- 927(IDX)  2020-09-15 00:00:00 : Facebook announces $4.3 million grant for small businesses in India, introduces support for gift cards – TechCrunch || Link --http://techcrunch.com/2020/09/15/facebook-announces-4-3-million-grant-for-small-businesses-in-india-introduces-support-for-gift-cards/ score -- 0.0655526308927806

Recomendation 9 --- 254(IDX)  2020-08-27 00:00:00 : Presenting TechCrunch Disrupt’s Asia sessions – TechCrunch || Link --http://techcrunch.com/2020/08/27/presenting-techcrunch-disrupts-asia-sessions/ score -- 0.06488678681352943

Recomendation 10 --- 725(IDX)  2020-08-27 00:00:00 : Presenting TechCrunch Disrupt’s Asia sessions – TechCrunch || Link --http://techcrunch.com/2020/08/27/presenting-techcrunch-disrupts-asia-sessions/ score -- 0.06488678681352943